.scheduleGrid {
  margin-bottom: 1rem;
}

.scheduleGrid :global(.row, .column) {
  padding: 0 !important;
}

.scheduleGrid :global(.ui.button.toggle.active) {
  background-color: #2185d0 !important;
}

.scheduleGrid :global(.ui.button.toggle.active:hover) {
  opacity: 0.8 !important;
}

.hourCell {
  border-radius: 0px !important;
  height: 4rem !important;
  width: 2.5rem !important;
  margin-right: 1px !important;
  vertical-align: middle !important;
}

.dayButton {
  height: 4rem !important;
  width: 3rem !important;
  margin-right: 0.5rem !important;
  padding: 0.5rem !important;
  vertical-align: middle !important;
}

.dayRow {
  white-space: nowrap !important;
  overflow: hidden !important;
  font-size: 1rem !important;
  margin-bottom: 1px !important;
}
