.btn {
  text-align: center;
  border-radius: 3px;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(95%);
}

.disabled,
.disabled:hover {
  cursor: default;
  color: lightgray;
  filter: brightness(100%);
  opacity: 0.5;
}

.small {
  width: auto;
  height: 25px;
}

.medium {
  width: auto;
  height: 30px;
  font-size: 17px;
}

.large {
  width: auto;
  height: 40px;
  font-size: 20px;
}
